<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <typeAliases>
        <typeAlias type="man.kuke.model.Person" alias="Person"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
<!--                url connection 8 版本以上 时区 设置 serverTimezone=UTC-->
<!--                &amp;转义字符-->
<!--                jdbc:mysql://localhost:3306/myemployees?useSSL=true&amp;userUnicode=true&amp-->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
<!--    Maven资源导出问题 解决配置文件无法找到-->
<!--        资源过滤设置-->
<!--        <resources>-->
<!--             <resource>-->
<!--                <directory>src/main/resources</directory>-->
<!--                <includes>-->
<!--                    <include>**/*.properties</include>-->
<!--                    <include>**/*.xml</include>-->
<!--                </includes>-->
<!--                <filtering>true</filtering>-->
<!--            </resource>-->
<!--            <resource>-->
<!--                <directory>src/main/java</directory>-->
<!--                <includes>-->
<!--                    <include>**/*.properties</include>-->
<!--                    <include>**/*.xml</include>-->
<!--                </includes>-->
<!--                <filtering>true</filtering>-->
<!--            </resource>-->

<!--        </resources>-->
        <!--    每一个Mapper.xml 都需要在mybatis核心配置文件中注册-->
        <mapper resource="man/kuke/dao/UserMapper.xml"/>
    </mappers>
</configuration>